﻿@page "/categories"

@inject RequestService _requestService

<PageTitle>Categories</PageTitle>
<Button Color="Color.Primary" Clicked="CreateCategoryClick">Create category</Button>

<Heading>Categories</Heading>

<Form>
    <Fields>
        <Field>
            <SelectEnum TItem="CategoryOrderBy" @bind-selectedItem="@orderBy" LabelContent="Order by" />
        </Field>
        <Field>
            <SelectEnum TItem="CategoryFilterBy" @bind-selectedItem="@filterBy" LabelContent="Filter by" />
        </Field>
        <Field>
            <FieldLabel>Filter value:</FieldLabel>
            <TextEdit @bind-Text="@filterValue" />
        </Field>
        <Field>
            <SelectPage @ref="selectPage" LabelContent="Page" MaxValue="pageItems" @bind-selectedItem="pageStart"
                OnPageChanged="SearchClick" />
        </Field>
        <Field>
            <SelectPageNum @ref="selectPageNum" LabelContent="Page num" MaxValue="50" @bind-selectedItem="pageNum"
                OnPageChanged="SearchClick" />
        </Field>
        <Button Color="Color.Primary" Clicked="SearchClick">Search</Button>
    </Fields>
</Form>


@if (_searchedCategorys != null)
{

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Description</TableHeaderCell>
                <TableHeaderCell>Edit</TableHeaderCell>
                <TableHeaderCell>Delete</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var category in _searchedCategorys)
            {
                <TableRow>
                    <TableRowHeader>@category.CategoryId</TableRowHeader>
                    <TableRowCell>@category.Title</TableRowCell>
                    <TableRowCell>@category.Description</TableRowCell>

                    <TableRowCell>
                        <Button Color="Color.Warning" Clicked="@((e) => {_tempCategory = category; EditCategoryClick();})">
                            Edit
                        </Button>
                    </TableRowCell>
                    <TableRowCell>
                        <Button Color="Color.Danger" Clicked="@((e) => {_tempCategory = category; DeleteCategoryClick();})">
                            Delete
                        </Button>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>

}

<EditCategoryModal @ref="@editCategoryModal" @bind-Category="_tempCategory" OnCategoryCreation="SearchClick" />
<CreateCategoryModal @ref="@createCategoryModal" @bind-Category="_tempCategory" OnCategoryCreation="SearchClick" />
<DeleteCategoryModal @ref="@deleteModal" category="_tempCategory" DeleteEntity="OnCategoryDelete" />
