﻿@page "/group/{groupId}"

@inject RequestService _requestService
@inject CookieService cookieService
@inject NavigationManager navManager
@inject INotificationService NotificationService

@if (CurrentGroup != null)
{
    <Button Color="Color.Info" Clicked="EditGroupClick">Edit</Button>
    <Button Color="Color.Warning" Clicked="LeaveGroupClick">Leave</Button>
    <Button Color="Color.Danger" Clicked="DeleteGroupClick">Delete</Button>
    <Heading>@CurrentGroup.Title</Heading>
    <Paragraph>Description: @CurrentGroup.Description</Paragraph>
    <Paragraph>Invintation code: @CurrentGroup.InvintationCode</Paragraph>
    <Paragraph>Creation date: @CurrentGroup.CreationDate</Paragraph>
    
    <EditGroupModal @ref="@editGroupModal" Group="CurrentGroup" OnGroupChange="OnGroupChange" />
    <DeleteModal @ref="@deleteModal" TItem="Group" Entity="CurrentGroup" EntityName="group" DeleteEntity="@DeleteGroupCallback" />
    <LeaveGroupModal @ref="@leaveGroupModal" Group="CurrentGroup" OnGroupChange="OnGroupChange" />

    <LocationList Locations="@CurrentGroup.Locations" GroupForCreation="CurrentGroup"/>

    <ShoppingListList ShoppingLists="@CurrentGroup.ShoppingLists" GroupForCreation="CurrentGroup"/>
}



