﻿@page "/location/{locationId}"

@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager
@inject INotificationService NotificationService

@if (CurrentLocation != null)
{
    <Buttons>
        <Button Color="Color.Primary" Clicked="GoToParentGroup">Go to parent group</Button>
        <Button Color="Color.Info" Clicked="EditLocationClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteLocationClick">Delete</Button>
    </Buttons>
    <Heading>@CurrentLocation.Title</Heading>
    <Paragraph>Description: @CurrentLocation.Description</Paragraph>
    <Paragraph>Address: @CurrentLocation.Address</Paragraph>
    <Button Color="Color.Primary" Clicked="@CreateProductButtonClicked">Add product</Button>

    <PlaceList Places="@CurrentLocation.Places" LocationForCreation="CurrentLocation"/>
}

@* <EditLocationModal @ref="@editLocationModal" LocationId="@locationId" OnLocationChange="GetLocation" /> *@
@* <CreateProductModal @ref="createProductModal" 
    @bind-Product="_tempProduct" 
    Place="null" 
    OnProductCreation="GetLocation" 
    LocationId="@locationId"/> *@


