﻿@page "/login"

@inject RequestService _requestService
@inject CookieService cookieService
@inject NavigationManager navManager
@inject HttpClient _http

<PageTitle>Login</PageTitle>

<Div Position="Position.Relative">
    <Card Position="Position.Relative.Top.Is0.Start.Is50.Translate.MiddleX"
          Style="width: 500px">
        <CardHeader>
            <Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">Login</Heading>
        </CardHeader>
        <CardBody>
            <Form>
                <Field>
                    <FieldLabel>Login: </FieldLabel>
                    <FieldBody>
                        <LoginField @ref="@loginField"
                                    @bind-Login="@LoginValue"/>
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Password: </FieldLabel>
                    <FieldBody>
                        <PasswordField @ref="@passField"
                                       @bind-Password="@Password"/>
                    </FieldBody>
                </Field>

            </Form>

            <Button Color="Color.Primary" Clicked="@OnSubmit">
                Login
            </Button>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton/>
            </Alert>
            <Alert @ref="@successAlert" Color="Color.Success">
                <AlertMessage>You are logged in!</AlertMessage>
                <Button Color="Color.Success" Type="ButtonType.Link" To="/">Go to my cabinet</Button>
                <CloseButton/>
            </Alert>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Secondary"
                    Type="ButtonType.Link"
                    To="/registration">
                Create account
            </Button>
            <Button Color="Color.Secondary"
                    Type="ButtonType.Link"
                    To="/resetPassword">
                Reset password
            </Button>
        </CardFooter>
    </Card>
</Div>

    