﻿@page "/logout"
@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager navManager
@inject CookieService cookieService

<Heading>Log out?</Heading>
<Modal Visible>
    <ModalContent>
        <ModalHeader>Are you shure want to log out?</ModalHeader>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@LogoutClick">Log out</Button>
            <Button Color="Color.Secondary" Clicked="@CancelClick">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

