﻿@page "/place/{placeId}"

@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager
@inject INotificationService NotificationService

@if (CurrentPlace != null)
{
    <Buttons>
        <Button Color="Color.Primary" Clicked="GoToParentLocation">Go to parent location</Button>
        <Button Color="Color.Info" Clicked="EditPlaceClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeletePlaceClick">Delete</Button>
    </Buttons>
    <Heading>@CurrentPlace.Name</Heading>
    <Paragraph>Description: @CurrentPlace.Description</Paragraph>


    <ProductList Products="@CurrentPlace.Products" PlaceForCreation="CurrentPlace" />
    <EditPlaceModal @ref="editPlaceModal" Place="CurrentPlace" />

}
