﻿@page "/productBases"

@inject RequestService _requestService

<PageTitle>Product templates</PageTitle>
<Button Color="Color.Primary" Clicked="CreateProductBaseClick">Create product template</Button>

<Heading>Product templates</Heading>

<Form>
    <Fields>
        <Field>
            <SelectEnum TItem="ProductBaseOrderBy" @bind-selectedItem="@orderBy" LabelContent="Order by" />
        </Field>
        <Field>
            <SelectEnum TItem="ProductBaseFilterBy" @bind-selectedItem="@filterBy" LabelContent="Filter by" />
        </Field>
        <Field>
            <FieldLabel>Filter value:</FieldLabel>
            <TextEdit @bind-Text="@filterValue" />
        </Field>
        <Field>
            <SelectPage 
                
                @ref="selectPage"
                LabelContent="Page" 
                MaxValue="pageItems" 
                @bind-selectedItem="pageStart"
                OnPageChanged="SearchClick"/>
        </Field>
        <Field >
            <SelectPageNum @ref="selectPageNum"
                        LabelContent="Page num"
                        MaxValue="50"
                        @bind-selectedItem="pageNum"
                        OnPageChanged="SearchClick" />
        </Field>
        <Button Color="Color.Primary" Clicked="SearchClick">Search</Button>
    </Fields>
</Form>


@if (_searchedProductBases != null){

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Description</TableHeaderCell>
                <TableHeaderCell>Weight</TableHeaderCell>
                <TableHeaderCell>Categories</TableHeaderCell>
                <TableHeaderCell>Edit</TableHeaderCell>
                <TableHeaderCell>Delete</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var productBase in _searchedProductBases)
        {
            <TableRow>
                <TableRowHeader>@productBase.ProductBaseId</TableRowHeader>
                    <TableRowCell>@productBase.Name</TableRowCell>
                    <TableRowCell>@productBase.Description</TableRowCell>
                    <TableRowCell>@productBase.Weight</TableRowCell>
                    <TableRowCell>
                        @if (productBase.Categories != null)
                    {
                        @foreach (var category in productBase.Categories)
                        {
                            <Badge Color="Color.Secondary">@category.Title</Badge>
                        }

                    }
                </TableRowCell>
                <TableRowCell>
                    <Button Color="Color.Warning"
                        Clicked="@((e) => {_tempProductBase = productBase; EditProductBaseClick();})">Edit</Button>
                </TableRowCell>
                    <TableRowCell>
                        <Button Color="Color.Danger"
                            Clicked="@((e) => {_tempProductBase = productBase; DeleteProductBaseClick();})">Delete</Button>
                    </TableRowCell>
            </TableRow>
            }
    </TableBody>
</Table>

}

<EditProductBaseModal 
    @ref="@editProductBaseModal" 
    @bind-ProductBase="_tempProductBase" 
    OnProductBaseCreation="SearchClick" />
<CreateProductBaseModal 
    @ref="@createProductBaseModal" 
    @bind-ProductBase="_tempProductBase" 
    OnProductBaseCreation="SearchClick" />
    <DeleteProductBaseModal 
        @ref="@deleteModal" 
        productBase="_tempProductBase"
        DeleteEntity="OnProductBaseDelete"
        />


