﻿@page "/registration"

@inject RequestService _requestService
@inject HttpClient _httpClient
@inject NavigationManager navManager

<PageTitle>Registration</PageTitle>

<Div Position="Position.Relative">
    <Card
        Position="Position.Relative.Top.Is0.Start.Is50.Translate.MiddleX"
        Style="width: 500px">
        <CardHeader>
            <Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">Registration</Heading>
        </CardHeader>
        <CardBody>
            <Form>
                <Field>
                    <FieldLabel>Login: </FieldLabel>
                    <FieldBody>
                        <LoginField @ref="@loginField"
                                    @bind-Login="@Login"/>
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Email: </FieldLabel>
                    <FieldBody>
                        <EmailField @ref="@emailField"
                                    @bind-Email="@Email"/>
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Phone: </FieldLabel>
                    <FieldBody>
                        <TelephoneField @ref="@telephoneField"
                                        @bind-PhoneNumber="@TelephoneNumber"/>
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Password: </FieldLabel>
                    <FieldBody>
                        <PasswordField @ref="@passField"
                                       @bind-Password="@Password"/>
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Repeat password: </FieldLabel>
                    <FieldBody>
                        <PasswordField @ref="@repeatPassField"
                                       @bind-Password="@RepeatPassword"/>
                    </FieldBody>
                </Field>

            </Form>

            <Button Color="Color.Primary" Clicked="@OnSubmit">
                Register
            </Button>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton/>
            </Alert>
            <Alert @ref="@successAlert" Color="Color.Success">
                <AlertMessage>User is registered!</AlertMessage>
                <Button Color="Color.Success" Type="ButtonType.Link" To="/login">Go to login</Button>
                <CloseButton/>
            </Alert>
        </CardBody>
        <CardFooter >
            <Button
                Color="Color.Secondary"
                Type="ButtonType.Link"
                To="/login">
                I already have an account
            </Button>
            <Button
                Color="Color.Secondary"
                Type="ButtonType.Link"
                To="/resetPassword">
                Reset password
            </Button>
        </CardFooter>
    </Card>
</Div>