﻿@page "/shoppingList/{shoppingListId}"

@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager
@inject INotificationService NotificationService

@if (CurrentShoppingList != null)
{
    <Buttons>
        <Button Color="Color.Primary" Clicked="GoToParentGroup">Go to parent group</Button>
        <Button Color="Color.Info" Clicked="EditShoppingListClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteShoppingListClick">Delete</Button>
    </Buttons>
    <Heading>@CurrentShoppingList.Name</Heading>
    <Paragraph>Description: @CurrentShoppingList.Description</Paragraph>
    <Paragraph>Planned shopping date: @CurrentShoppingList.PlannedShoppingDate</Paragraph>

    <ShoppingProductList 
        ShoppingProducts="CurrentShoppingList.ShoppingProducts" 
        OnShoppingProductChange="OnShoppingListChange" 
        ShoppingListForCreation="CurrentShoppingList"/>
}
<EditShoppingListModal @ref="@editShoppingListModal" ShoppingList="_tempShoppingList" OnShoppingListChange="OnShoppingListChange" />
<DeleteModal @ref="@deleteModal" TItem="ShoppingList"
             Entity="_tempShoppingList"
             EntityName="shopping list"
             DeleteEntity="@DeleteShoppingListCallback" />



