﻿@page "/statistic"

@inject CookieService cookieService
@inject RequestService _requestService

<PageTitle>Statistic</PageTitle>

<Heading>Statistic</Heading>

@if (_groupsForPick != null)
{
    <Select @ref="@selectGroupId" TValue="int" @onchange="GroupSelected" Style="width: 200px">
        <option value="0" selected>Pick one of the group</option>
        @foreach (var group in _groupsForPick)
        {
            <SelectItem Value="@group.GroupId">@group.Title</SelectItem>
        }
    </Select>
}

@if (SelectedGroup != null)
{
    <Paragraph>@SelectedGroup.Title</Paragraph>
    <Form>
        <Fields>
            <Field>
                <SelectEnum TItem="ProductOrderBy" @bind-selectedItem="@orderBy" LabelContent="Order by" />
            </Field>
            <Field>
                <FieldLabel>Select date:</FieldLabel>
                <DatePicker @bind-Date="@filterDate"/>
            </Field>
            <Field>
                <SelectPage @ref="selectPage"
                            LabelContent="Page"
                            MaxValue="pageItems"
                            @bind-selectedItem="pageStart"
                            OnPageChanged="SearchClick" />
            </Field>
            <Field>
                <SelectPageNum @ref="selectPageNum"
                               LabelContent="Page num"
                               MaxValue="50"
                               @bind-selectedItem="pageNum"
                               OnPageChanged="SearchClick" />
            </Field>
            <Button Color="Color.Primary" Clicked="SearchClick">Search</Button>
        </Fields>
    </Form>
}


@if (seachedProducts != null)
{

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Description</TableHeaderCell>
                <TableHeaderCell>Weight</TableHeaderCell>
                <TableHeaderCell>Running out quantity</TableHeaderCell>
                <TableHeaderCell>Valid until</TableHeaderCell>
                <TableHeaderCell>Purchase date</TableHeaderCell>
                <TableHeaderCell>Categories</TableHeaderCell>
                <TableHeaderCell>Place</TableHeaderCell>
                <TableHeaderCell>Location</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var product in seachedProducts)
            {
                <TableRow>
                    <TableRowHeader>@product.ProductBaseId</TableRowHeader>
                        <TableRowCell>@product.ProductBase.Name</TableRowCell>
                        <TableRowCell>@product.ProductBase.Description</TableRowCell>
                        <TableRowCell>@product.ProductBase.Weight</TableRowCell>
                        <TableRowCell>@product.ProductBase.RunningOutQuantity</TableRowCell>
                        <TableRowCell>@product.ValidUntil</TableRowCell>
                        <TableRowCell>@product.PurchaseDate</TableRowCell>
                        <TableRowCell>
                            @if (product.ProductBase.Categories != null)
                        {
                            @foreach (var category in product.ProductBase.Categories)
                            {
                                <Badge Color="Color.Secondary">@category.Title</Badge>
                            }

                        }
                    </TableRowCell>
                        <TableRowCell>
                            <Button 
                                Color="Color.Info" 
                                Type="ButtonType.Link" 
                                To="@_pathFormingService.GetPath(product.Place)"
                            >@product.Place.Name</Button> 
                        </TableRowCell>
                        <TableRowCell>
                            <Button 
                                Color="Color.Info" 
                                Type="ButtonType.Link" 
                                To="@_pathFormingService.GetPath(product.Place.Location)"
                            >@product.Place.Location.Title</Button>

                        </TableRowCell>


                </TableRow>
            }
        </TableBody>
    </Table>

}



