﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create product</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Product template</FieldLabel>
                    <FieldBody>
                        @if(selectedProductBase != null)
                        {
                            <Paragraph>@selectedProductBase.Name - @selectedProductBase.Description - @selectedProductBase.Weight</Paragraph>
                        }
                        <Button Color="Color.Danger" Clicked="@(()=>productBaseSelectModal.ShowModal())">Select product template</Button>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Quantity</FieldLabel>
                    <NumericEdit @bind-Value="@Product.Quantity" Min="0" Max="99999"/>
                </Field>
                <Field>
                    <FieldLabel>Price</FieldLabel>
                    <NumericEdit @bind-Value="@Product.Price" Min="0"/>
                </Field>
                <Field>
                    <FieldLabel>Purchase date</FieldLabel>
                    <DatePicker TValue="DateTime?" @bind-Date="@Product.PurchaseDate"/>
                </Field>
                <Field>
                    <FieldLabel>Valid until date</FieldLabel>
                    <DatePicker TValue="DateTime?" @bind-Date="@Product.ValidUntil" />
                </Field>
                @if (Place == null)
                {
                    <Field>
                        <FieldLabel>Place</FieldLabel>
                        <FieldBody>
                            <SelectList TItem="Place"
                                        TValue="Place"
                                        Data="_placesForPick"
                                        TextField="@(place=> place.Name)"
                                        ValueField="@(place => place)"
                                        @bind-SelectedValue="@selectedPlace"
                                        DefaultItemText="Choose place"/>
                        </FieldBody>
                    </Field>
                } 
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                
                <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="CreateProductButtonClicked">Create product</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
    <ProductBaseSelectModal @ref="@productBaseSelectModal" @bind-selectedProductBase="@selectedProductBase" />

    