﻿@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager

<Heading>Product list</Heading>

<Button Color="Color.Primary" Clicked="@CreateProductButtonClicked">Add product</Button>
<CardDeck>
    @if (Products != null)
    {
        @foreach (var product in Products)
        {
            <ProductCard Product="product" OnProductChange="GetProducts" />
        }
    }
</CardDeck>

<CreateProductModal @ref="@createProductModal"
                  @bind-Product="_tempProduct"
                  Place="PlaceForCreation"
                  OnProductCreation="GetProducts" />

