﻿@inject NavigationManager navManager
@inject RequestService _requestService
<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@Product.ProductBase.Name</CardHeader>
        <CardBody>
            <Paragraph>Description: @Product.ProductBase.Description</Paragraph>
            <Paragraph>Weight: @Product.ProductBase.Weight</Paragraph>
            <Paragraph>Quantity: @Product.Quantity</Paragraph>
            <Paragraph>Running out quantity: @Product.ProductBase.RunningOutQuantity</Paragraph>
            <Paragraph>Price: @Product.Price</Paragraph>
            <Paragraph>Purchase date: @Product.PurchaseDate</Paragraph>
            <Paragraph>The product is good through: @Product.ValidUntil</Paragraph>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Info" Clicked="EditProductClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteProductClick">Delete</Button>
    </CardFooter>
</Card>
<EditProductModal @ref="@editProductModal" Product="Product" OnProductChange="OnProductChange" />
<DeleteModal @ref="@deleteModal" TItem="Product"
             Entity="Product"
             EntityName="product"
             DeleteEntity="@DeleteProductCallback" />

