﻿@inject RequestService _requestService
@inject CookieService cookieService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create category</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@nameField" @bind-Title="@Category.Title" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@Category.Description" />
                    </FieldBody>
                </Field>

            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton />
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="CreateCategoryButtonClicked">Create category</Button>
        </ModalFooter>
    </ModalContent>
</Modal>