﻿@inject RequestService _requestService
@inject CookieService cookieService


<Modal @ref="@_deleteModal">
    <ModalContent>
        <ModalHeader>Warning</ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Pick group for that you want to change product template</FieldLabel>
                <FieldBody>
                    @if (_groupsForChange != null)
                    {
                        <Select @ref="@selectGroup" TValue="int" @onchange="SelectedGroup" sele>
                            <option value="0" selected>Pick one of the group</option>
                            @foreach (var group in _groupsForChange)
                            {
                                <SelectItem Value="@group.GroupId">@group.Title</SelectItem>
                            }
                        </Select>
                    }
                </FieldBody>
            </Field>
            <Paragraph>Are you shure want to delete product base?</Paragraph>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="YesClicked">Yes</Button>
            <Button Color="Color.Secondary" Clicked="NoClicked">No</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
