﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit category</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@nameField" @bind-Title="@Category.Title" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@Category.Description" />
                    </FieldBody>
                </Field>
                

                <Field>
                    <FieldLabel>Pick group for that you want to change product template</FieldLabel>
                    <FieldBody>
                        @if (_groupsForChange != null)
                        {
                            <Select @ref="@selectGroup" TValue="int" @onchange="SelectedGroup" sele>
                                <option value="0" selected>Pick one of the group</option>
                                @foreach (var group in _groupsForChange)
                                {
                                    <SelectItem Value="@group.GroupId">@group.Title</SelectItem>
                                }
                            </Select>
                        }
                    </FieldBody>
                </Field>
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="EditCategoryButtonClicked">Edit category</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    