﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create place</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@nameField" @bind-Title="@Place.Name" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@Place.Description" />
                    </FieldBody>
                </Field>
                @if (Location == null)
                {
                    <Field>
                        <FieldLabel>Location</FieldLabel>
                        <FieldBody>
                            <SelectList TItem="Location"
                                        TValue="Location"
                                        Data="_locationsForPick"
                                        TextField="@((location) => location.Title)"
                                        ValueField="@((location) => location)"
                                        @bind-SelectedValue="@selectedLocation"
                                        DefaultItemText="Choose location"/>
                        </FieldBody>
                    </Field>
                }
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="CreatePlaceButtonClicked">Create place</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    