﻿@inject NavigationManager navManager
@inject RequestService _requestService
<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@Place.Name</CardHeader>
        <CardBody>
            <Paragraph>Description: @Place.Description</Paragraph>
            <Heading Size="HeadingSize.Is2">Products list</Heading>
            @if (Place.Products != null)
        {
            @foreach (var product in Place.Products.GetRange(0, 3))
            {
                <Paragraph>
                    @product.ProductBase.Name
                </Paragraph>
            }
        }
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" Clicked="GoToPlaceDetails">Go to place</Button>
        <Button Color="Color.Info" Clicked="EditPlaceClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeletePlaceClick">Delete</Button>
    </CardFooter>
</Card>
<EditPlaceModal @ref="@editPlaceModal" Place="Place" OnPlaceChange="OnPlaceChange" />
<DeleteModal @ref="@deleteModal" TItem="Place"
             Entity="Place"
             EntityName="place"
             DeleteEntity="@DeletePlaceCallback" />

