﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject NavigationManager navManager

<Heading>Place list</Heading>

<Button Color="Color.Primary" Clicked="@CreatePlaceButtonClicked">Add place</Button>
<CardDeck>
    @if (Places != null)
    {
        @foreach (var location in Places)
        {
            <PlaceCard Place="location" OnPlaceChange="GetPlaces" />
        }
    }
</CardDeck>

<CreatePlaceModal @ref="@createPlaceModal" @bind-Place="_tempPlace" Location="LocationForCreation"
    OnPlaceCreation="GetPlaces" />
