﻿@typeparam TItem

<Modal @ref="@_deleteModal">
    <ModalContent>
        <ModalHeader>Warning</ModalHeader>
        <ModalBody>
            <Paragraph>Are you shure want to delete @EntityName?</Paragraph>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="YesClicked">Yes</Button>
            <Button Color="Color.Secondary" Clicked="NoClicked">No</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
