﻿@typeparam TItem

<FieldLabel>@LabelContent</FieldLabel>
<FieldBody>

    <Select TValue="TItem" SelectedValue="selectedItem" SelectedValueChanged="SelectedValueChanged">
        @foreach (var item in allValues)
        {
            <SelectItem Value="item">@item.ToString()</SelectItem>
        }
    </Select>
</FieldBody>