﻿<FieldLabel>@LabelContent</FieldLabel>
<FieldBody>

    <Select TValue="int" SelectedValue="selectedItem" SelectedValueChanged="SelectedValueChanged">
        @if (allValues != null)
        {
            @foreach (var item in allValues)
            {
                <SelectItem Value="item">@item.ToString()</SelectItem>
            }
        }
    </Select>
</FieldBody>
