﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create product</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Product template</FieldLabel>
                    <FieldBody>
                        @if (selectedProductBase != null)
                        {
                            <Paragraph>@selectedProductBase.Name - @selectedProductBase.Description -
                                @selectedProductBase.Weight</Paragraph>
                        }
                        <Button Color="Color.Danger" Clicked="@(()=>productBaseSelectModal.ShowModal())">Select product
                            template</Button>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Quantity</FieldLabel>
                    <NumericEdit @bind-Value="@ShoppingProduct.Quantity" Min="0" Max="99999" />
                </Field>


                @if (ShoppingList == null)
                {
                    <Field>
                        <FieldLabel>ShoppingList</FieldLabel>
                        <FieldBody>
                            <SelectList TItem="ShoppingList" TValue="ShoppingList" Data="_shoppingListsForPick"
                                TextField="@(shoppingList=> shoppingList.Name)" ValueField="@(shoppingList => shoppingList)"
                                @bind-SelectedValue="@selectedShoppingList" DefaultItemText="Choose shoppingList" />
                        </FieldBody>
                    </Field>
                }
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton />
            </Alert>
        </ModalBody>
        <ModalFooter>

            <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="CreateProductButtonClicked">Create product</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<ProductBaseSelectModal @ref="@productBaseSelectModal" @bind-selectedProductBase="@selectedProductBase" />