﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit shopping product</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Product template</FieldLabel>
                    <FieldBody>
                        @if (selectedProductBase != null)
                        {
                            <Paragraph>@selectedProductBase.Name - @selectedProductBase.Description - @selectedProductBase.Weight</Paragraph>
                        }
                        <Button Color="Color.Danger" Clicked="@(()=>productBaseSelectModal.ShowModal())">Select product template</Button>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Quantity</FieldLabel>
                    <FieldBody>
                        <NumericPicker @bind-Value="@_tempShoppingProduct.Quantity" />
                    </FieldBody>
                </Field>

            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="EditProductButtonClicked">Edit shopping product</Button>

            </ModalFooter>
        </ModalContent>
    </Modal>
    <ProductBaseSelectModal @ref="@productBaseSelectModal" @bind-selectedProductBase="@selectedProductBase" />
    