﻿@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager

<Heading>Shopping products list</Heading>

<Button Color="Color.Primary" Clicked="@CreateShoppingProductButtonClicked">Add shopping product</Button>
<CardDeck>
    @if (ShoppingProducts != null)
    {
        @foreach (var shoppingProduct in ShoppingProducts)
        {
            <ShoppingProductCard ShoppingProduct="shoppingProduct" OnShoppingProductChange="GetShoppingProducts" />
        }
    }
</CardDeck>

<CreateShoppingProductModal @ref="@createShoppingProductModal" @bind-ShoppingProduct="_tempShoppingProduct"
    ShoppingList="ShoppingListForCreation" OnShoppingProductCreation="GetShoppingProducts" />
