﻿@inject NavigationManager navManager
@inject RequestService _requestService
<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@ShoppingProduct.ProductBase.Name</CardHeader>
    <CardBody>
        <Paragraph>Description: @ShoppingProduct.ProductBase.Description</Paragraph>
        <Paragraph>Quantity: @ShoppingProduct.Quantity</Paragraph>
        <Paragraph>Running out quantity: @ShoppingProduct.ProductBase.RunningOutQuantity</Paragraph>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Info" Clicked="EditProductClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteProductClick">Delete</Button>
    </CardFooter>
</Card>
@* <EditShoppingListModal @ref="@editProductModal" ShoppingProduct="ShoppingProduct"
OnShoppingProductChange="OnProductChange" /> *@
<DeleteModal @ref="@deleteModal" TItem="ShoppingProduct" Entity="ShoppingProduct" EntityName="shopping product"
    DeleteEntity="@DeleteShoppingProductCallback" />