﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create location</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@Location.Title"/>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@Location.Description"/>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Address</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@addressField" @bind-Title="@Location.Address"/>
                    </FieldBody>
                </Field>
                @if (Group == null)
                {
                    <Field>
                        <FieldLabel>Group</FieldLabel>
                        <FieldBody>
                            <SelectList
                                TItem="Group"
                                TValue="Group"
                                Data="_groupsForPick"
                                TextField="@((group) => group.Title)"
                                ValueField="@((group) => group)"
                                @bind-SelectedValue="@selectedGroup"
                                DefaultItemText="Choose group"
                                DefaultItemValue="null"/>
                        </FieldBody>
                    </Field>
                }
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton/>
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="CreateLocationButtonClicked">Create location</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

    