﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject NavigationManager navManager
@inject INotificationService NotificationService

@if (_tempLocation != null)
{

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit location</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@_tempLocation.Title" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@_tempLocation.Description" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Address</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@addressField" @bind-Title="@_tempLocation.Address" />
                    </FieldBody>
                </Field>
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="EditLocationButtonClicked">Edit group</Button>

            </ModalFooter>
        </ModalContent>
    </Modal>

    }