﻿@inject NavigationManager navManager
@inject RequestService _requestService
<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@Location.Title</CardHeader>
    <CardBody>
        <Paragraph>Description: @Location.Description</Paragraph>
        <Paragraph>Address: @Location.Address</Paragraph>
        <Heading Size="HeadingSize.Is2">Places list</Heading>
        @if (Location.Places != null)
        {
            @foreach (var place in Location.Places)
            {
                <Paragraph>
                    @place.Name
                </Paragraph>
            }
        }
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" Clicked="GoToLocationDetails">Go to location</Button>
        <Button Color="Color.Info" Clicked="EditLocationClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteLocationClick">Delete</Button>
    </CardFooter>
</Card>
<EditLocationModal @ref="@editLocationModal" Location="Location" OnLocationChange="OnLocationChange" />
<DeleteModal @ref="@deleteModal" TItem="Location" 
    Entity="Location" 
    EntityName="location" 
    DeleteEntity="@DeleteLocationCallback"/>

