﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject NavigationManager navManager

<Heading>Location list</Heading>

<Button Color="Color.Primary" Clicked="@CreateLocationButtonClicked">Add location</Button>
<CardDeck>
    @if (Locations != null)
    {
        @foreach (var location in Locations)
        {
            <LocationCard Location="location" OnLocationChange="GetLocations" />
        }
    }
</CardDeck>

<CreateLocationModal @ref="@createLocationModal" @bind-Location="_tempLocation" Group="GroupForCreation"
    OnLocationCreation="GetLocations" />
