﻿<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Email"
              Pattern="@emailRegex"
              Text="@Email"
              TextChanged="ChangeEmail">
        <Feedback>
            <ValidationError>
                Email is not valid!
            </ValidationError>
            <ValidationNone>
                Please enter email.
            </ValidationNone>
            <ValidationSuccess>
                Email is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>

