﻿<div>
    <input type="text"
           value="@Value"
           @oninput="OnInputChange"
           placeholder="@Placeholder" />

    @if (validationError != null)
    {
        <span style="color: red">@validationError</span>
    }
</div>