﻿<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Text"
              Pattern="^\d{8}$"
              Text="@InvintationCode"
              TextChanged="ChangeInvintationCode">
        <Feedback>
            <ValidationError>
                Code must contain 8 digits!
            </ValidationError>
            <ValidationNone>
                Please enter invintation code.
            </ValidationNone>
            <ValidationSuccess>
                Code is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>

