﻿<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Text"
              Pattern="@LoginRegex"
              Text="@Login"
              TextChanged="ChangeLogin">
        <Feedback>
            <ValidationError>
                Login is not valid!
            </ValidationError>
            <ValidationNone>
                Please enter Login.
            </ValidationNone>
            <ValidationSuccess>
                Login is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>