﻿<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Password" Pattern="@PasswordRegex" Text="@Password" TextChanged="ChangePassword">
        <Feedback>
            <ValidationError>
                Password is not valid!
            </ValidationError>
            <ValidationNone>
                Please enter Password.
            </ValidationNone>
            <ValidationSuccess>
                Password is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>