<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Telephone" Pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
        Text="@PhoneNumber" TextChanged="ChangePhoneNumber">
        <Feedback>
            <ValidationError>
                Phone is not real!
            </ValidationError>
            <ValidationNone>
                Please enter phone number.
            </ValidationNone>
            <ValidationSuccess>
                Phone number is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>