﻿<Validation @ref="@Validator" UsePattern>
    <TextEdit Role="TextRole.Text" Pattern="@TitleRegex" Text="@Title" TextChanged="ChangeTitle" >
        <Feedback>
            <ValidationError>
                Title is not valid!
            </ValidationError>
            <ValidationNone>
                Please enter Title.
            </ValidationNone>
            <ValidationSuccess>
                Title is good!
            </ValidationSuccess>
        </Feedback>
    </TextEdit>
</Validation>