﻿
@inject CookieService cookieService
@inject INotificationService NotificationService
@inject RequestService _requestService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit group</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@Group.Title"/>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@Group.Description"/>
                    </FieldBody>
                </Field>
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton/>
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="EditGroupButtonClicked">Create group</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

    