﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit group</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@_tempGroup.Title" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@_tempGroup.Description" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Invintation Code</FieldLabel>
                    <FieldBody>
                        <TextEdit ReadOnly @bind-Text="@_tempGroup.InvintationCode" />
                        <Buttons>
                            <Button Color="Color.Success" Clicked="GenerateInvintationCodeClick">
                                Generate invintation code
                            </Button>
                            <Button Color="Color.Warning" Clicked="ClearInvintationCodeClick">
                                Delete
                            </Button>
                        </Buttons>
                    </FieldBody>
                </Field>
                @if (_tempGroup.Users != null)
                {
                    <Field>
                        <FieldLabel>Pick users to delete</FieldLabel>
                        <FieldBody>
                            <DropdownList TItem="User" TValue="int" Data="@_tempGroup.Users"
                                TextField="@((user) => user.Login)" ValueField="@((user) => user.UserId.Value)"
                                @bind-SelectedValues="@selectedUsersId" SelectionMode="DropdownListSelectionMode.Checkbox">
                                Select users</DropdownList>
                        </FieldBody>
                    </Field>
                }
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton />
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="EditGroupButtonClicked">Edit group</Button>
        </ModalFooter>
    </ModalContent>
</Modal>