﻿@inject NavigationManager navManager
@inject RequestService _requestService

<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@Group.Title</CardHeader>
    <CardBody>
        <Paragraph>Description: @Group.Description</Paragraph>
        @if (!Group.IsUserGroup)
        {
            <Paragraph>Invintation code: @Group.InvintationCode
                <Button Color="Color.Success" Clicked="GenerateInvintationCodeClick">
                    Generate invintation code
                </Button>
            </Paragraph>
        }
        <Paragraph>Creation Date: @Group.CreationDate</Paragraph>
        <Heading Size="HeadingSize.Is2">Users list</Heading>
        @if (Group.Users != null)
        {
            @foreach (var user in Group.Users)
            {
                <Paragraph>
                    @user.Login
                </Paragraph>
            }
        }
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" Clicked="GoToGroupDetails">Go to group</Button>
        @if (!Group.IsUserGroup)
        {
            <Button Color="Color.Info" Clicked="EditGroupClick">Edit</Button>
            <Button Color="Color.Warning" Clicked="LeaveGroupClick">Leave</Button>
            <Button Color="Color.Danger" Clicked="DeleteGroupClick">Delete</Button>
        }
    </CardFooter>
</Card>

<EditGroupModal @ref="@editGroupModal" Group="Group" OnGroupChange="OnGroupChange" />
<DeleteModal @ref="@deleteModal" TItem="Group" Entity="Group" EntityName="group" DeleteEntity="@DeleteGroupCallback" />
<LeaveGroupModal @ref="@leaveGroupModal" Group="Group" OnGroupChange="OnGroupChange" />
