﻿@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager

<Heading>Group list</Heading>
<Buttons>
    <Button Color="Color.Primary" Clicked="@CreateGroupButtonClicked">Add group</Button>
    <Button Color="Color.Info" Clicked="@JoinGroupViaCode">Join via code</Button>
</Buttons>

<CardDeck>
    @if (Groups != null)
    {
        @foreach (var group in Groups)
        {
            <GroupCard Group="@group" OnGroupChange="@OnGroupsChange" />
        }
    }
</CardDeck>

<JoinGroupViaCodeModal @ref="@joinGroupViaCodeModal" OnGroupChange="OnGroupsChange" />
<CreateGroupModal @ref="@createGroupModal" Group="_tempGroup" OnGroupCreation="@OnGroupsChange" />
