﻿@inject INotificationService NotificationService
@inject RequestService _requestService
@inject CookieService cookieService

<Modal @ref="@JoinViaCodeModal">
    <ModalContent>
        <ModalHeader>Join group via code</ModalHeader>
        <ModalBody>
            <InvitationCodeField @ref="@invitationCodeField" @bind-InvintationCode="@InvintationCode" />
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton />
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="JoinClick">Join</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
