﻿@inject INotificationService NotificationService

@inject CookieService cookieService
@inject RequestService _requestService


<Modal @ref="@_leaveModal">
    <ModalContent>
        <ModalHeader>Warning</ModalHeader>
        <ModalBody>
            <Paragraph>Are you shure want to leave @Group.Title?</Paragraph>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="YesClicked">Yes</Button>
            <Button Color="Color.Secondary" Clicked="NoClicked">No</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
