﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit productBase</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@nameField" @bind-Title="@ProductBase.Name" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@ProductBase.Description" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Weight</FieldLabel>
                    <FieldBody>
                        <NumericEdit TValue="double?" @bind-Value="@ProductBase.Weight" Min="0" Max="99999" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Running out quantity</FieldLabel>
                    <FieldBody>
                        <NumericEdit @bind-Value="@ProductBase.RunningOutQuantity" Min="0" Max="99999" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Categories</FieldLabel>
                    <FieldBody>
                        <TextEdit Text="@categiesSearch" TextChanged="CategorySearchChanged" />
                        <Paragraph>Picked (click to delete)</Paragraph>
                        @if (_pickedCategories != null)
                        {
                            @foreach (var category in _pickedCategories)
                            {
                                <Button Color="Color.Warning" @onclick="@(
                                            (e)=> {
                                                e.Detail = category.CategoryId;
                                                OnDeleteCategory(e);
                                            }
                                        )">
                                    @category.Title
                                </Button>
                            }
                        }
                        <Paragraph>Pick</Paragraph>
                        @if (_categoriesForPick != null)
                        {
                            <Select @ref="@selectCategory" TValue="int" @onchange="SelectedCategories" sele>
                                <option value="0" selected>Pick one of the categories</option>
                                @foreach (var category in _categoriesForPick)
                                {
                                    <SelectItem Value="@category.CategoryId">@category.Title</SelectItem>
                                }
                            </Select>

                        }
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>Pick group for that you want to change product template</FieldLabel>
                    <FieldBody>
                        @if (_groupsForChange != null)
                        {
                            <Select @ref="@selectGroup" TValue="int" @onchange="SelectedGroup" sele>
                                <option value="0" selected>Pick one of the group</option>
                                @foreach (var group in _groupsForChange)
                                {
                                    <SelectItem Value="@group.GroupId">@group.Title</SelectItem>
                                }
                            </Select>
                        }
                    </FieldBody>
                </Field>
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                <CloseButton />
            </Alert>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
            <Button Color="Color.Primary" Clicked="EditProductBaseButtonClicked">Edit product base</Button>
        </ModalFooter>
    </ModalContent>
</Modal>