﻿@inject RequestService _requestService

@* Selecting productBase *@

<Modal @ref="@modal">
    <ModalContent Style="width: 130%">
        <ModalHeader>Select product template
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Row>
                <Link Color="Color.Secondary" To="/productBases">Create template</Link>
            </Row>
            <Row>
                <TextEdit @bind-Text="@searchLine" Style="width: 90%" />
                <Button Color="Color.Primary" Clicked="SearchProductBase" Style="width: 10%">
                    <Icon Name="IconName.Search" />
                </Button>
            </Row>
            @if (searchedPB != null)
            {
                <Label>Result:</Label>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Name</TableHeaderCell>
                            <TableHeaderCell>Description</TableHeaderCell>
                            <TableHeaderCell>Weight</TableHeaderCell>
                            <TableHeaderCell>Categories</TableHeaderCell>
                            <TableHeaderCell>Select</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var productBase in searchedPB)
                        {
                            <TableRow>
                                <TableRowCell>@productBase.Name</TableRowCell>
                                <TableRowCell>@productBase.Description</TableRowCell>
                                <TableRowCell>@productBase.Weight</TableRowCell>
                                <TableRowCell>
                                    @if (productBase.Categories != null)
                                    {
                                        @foreach (var category in productBase.Categories)
                                        {
                                            <Badge Color="Color.Secondary">@category.Title</Badge>
                                        }

                                    }
                                </TableRowCell>
                                <TableRowCell>
                                    <Button Color="Color.Primary" Clicked="@((e) => {
                                        selectedProductBase = productBase; 
                                        ProductBaseSelected();
                                        })">
                                        Select
                                    </Button>
                                </TableRowCell>
                                <Pagination />


                            </TableRow>
                        }
                    </TableBody>
                </Table>
                <Button Color="Color.Info" Type="ButtonType.Link" To="/productBases">Go to product templates</Button>
            }

        </ModalBody>

    </ModalContent>
</Modal>
