﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@CreateModal">
    <ModalContent>
        <ModalHeader>Create shopping list</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@ShoppingList.Name" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@ShoppingList.Description" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Planned shopping date</FieldLabel>
                    <FieldBody>
                        <DatePicker @bind-Date="@ShoppingList.PlannedShoppingDate" />
                    </FieldBody>
                </Field>
                @if (Group == null)
                {
                    <Field>
                        <FieldLabel>Group</FieldLabel>
                        <FieldBody>
                            <SelectList TItem="Group"
                                        TValue="Group"
                                        Data="_groupsForPick"
                                        TextField="@((group) => group.Title)"
                                        ValueField="@((group) => group)"
                                        @bind-SelectedValue="@selectedGroup"
                                        DefaultItemText="Choose group"
                                        DefaultItemValue="null" />
                        </FieldBody>
                    </Field>
                }
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => CreateModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="CreateShoppingListButtonClicked">Create shopping list</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    