﻿@inject RequestService _requestService
@inject CookieService cookieService
@inject INotificationService NotificationService

<Modal @ref="@EditModal">
    <ModalContent>
        <ModalHeader>Edit shoppingList</ModalHeader>
        <ModalBody>
            <Form>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@titleField" @bind-Title="@_tempShoppingList.Name" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <FieldBody>
                        <TitleField @ref="@descriptionField" @bind-Title="@_tempShoppingList.Description" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>Address</FieldLabel>
                    <FieldBody>
                        <DatePicker @bind-Date="@_tempShoppingList.PlannedShoppingDate" />
                    </FieldBody>
                </Field>
            </Form>
            <Alert @ref="@errorAlert" Color="Color.Danger">
                <AlertMessage>@errorMessage</AlertMessage>
                    <CloseButton />
                </Alert>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@((async) => EditModal.Hide())">Close</Button>
                <Button Color="Color.Primary" Clicked="EditShoppingListButtonClicked">Edit group</Button>

            </ModalFooter>
        </ModalContent>
    </Modal>

    