﻿@inject NavigationManager navManager
@inject RequestService _requestService
<Card Style="max-width: 400px; min-width: 300px">
    <CardHeader>@ShoppingList.Name</CardHeader>
        <CardBody>
            <Paragraph>Description: @ShoppingList.Description</Paragraph>
            <Paragraph>Planned shopping date: @ShoppingList.PlannedShoppingDate</Paragraph>
            <Heading Size="HeadingSize.Is2">Products list</Heading>
            @if (ShoppingList.ShoppingProducts != null)
        {
            @foreach (var shoppingProduct in ShoppingList.ShoppingProducts)
            {
                <Paragraph>
                    @shoppingProduct.ProductBase.Name
                </Paragraph>
            }
        }
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" Clicked="GoToShoppingListDetails">Go to shopping list</Button>
        <Button Color="Color.Info" Clicked="EditShoppingListClick">Edit</Button>
        <Button Color="Color.Danger" Clicked="DeleteShoppingListClick">Delete</Button>
    </CardFooter>
</Card>
<EditShoppingListModal @ref="@editShoppingListModal" ShoppingList="ShoppingList" OnShoppingListChange="OnShoppingListChange" />
<DeleteModal @ref="@deleteModal" TItem="ShoppingList"
             Entity="ShoppingList"
             EntityName="shoppingList"
             DeleteEntity="@DeleteShoppingListCallback" />

