﻿@inject CookieService cookieService
@inject RequestService _requestService
@inject NavigationManager navManager

<Heading>List of shopping list</Heading>

<Button Color="Color.Primary" Clicked="@CreateShoppingListButtonClicked">Create shopping list</Button>
<CardDeck>
    @if (ShoppingLists != null)
    {
        @foreach (var shoppingList in ShoppingLists)
        {
            <ShoppingListCard ShoppingList="shoppingList" OnShoppingListChange="GetShoppingLists" />
        }
    }
</CardDeck>

<CreateShoppingListModal @ref="@createShoppingListModal"
                     @bind-ShoppingList="_tempShoppingList"
                     Group="GroupForCreation"
                     OnShoppingListCreation="GetShoppingLists" />

