﻿@inherits LayoutComponentBase

<PageTitle>MyFreezerBlazorApp</PageTitle>

<div class="page">
    <div class="top-bar">
        <NavBar/>
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
