﻿@inject NavigationManager navManager
@inject CookieService cookieService

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        My Freezer
    </BarBrand>
    <BarToggler/>
    <BarMenu>
        <BarStart>
            @foreach ((var to, var title) in links)
            {
                <BarItem>
                    <BarLink To="@to">@title</BarLink>
                </BarItem>
            }
        </BarStart>
        <BarEnd>
            <BarItem>
                @foreach ((var button, var title) in buttons)
                {
                    <Button Color=@button.Color Type=@button.Type To=@button.To>@title</Button>
                }
                <Link/>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    List<(string, string)> links = new List<(string, string)>();
    List<(Button, string)> buttons = new List<(Button, string)>();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var userRole = await cookieService.GetUserRole();
        if (userRole == null)
        {
            links = new List<(string, string)>();
            buttons = new List<(Button, string)>
            {
                new(new Button { Color = Color.Primary, Type = ButtonType.Link, To = "registration" }, "Sign up"),
                new(new Button { Color = Color.Secondary, Type = ButtonType.Link, To = "login" }, "Log in")
            };
            StateHasChanged();

            return;
        }


        var userName = await cookieService.GetUserName();
        if (userRole == "User")
        {
            links = new List<(string, string)>
            {
                new("home", "Home"),
                new("productBases", "Product templates"),
                new("categories", "Categories"),
                new("statistic", "Statistic"),
                new("products", "Products"),
            };
            buttons = new List<(Button, string)>
            {
                new(new Button { Color = Color.Primary, Type = ButtonType.Link, To = "myprofile" }, userName),
                new(new Button { Color = Color.Secondary, Type = ButtonType.Link, To = $"logout" }, "Log out"),
            };
            StateHasChanged();

            return;
        }


        links = new List<(string, string)>
        {
            new("Users", "counter"),
            new("Groups", "groups")
        };
        buttons = new List<(Button, string)>
        {
            new(new Button { Color = Color.Primary, Type = ButtonType.Link, To = "myprofile" }, userName),
            new(new Button { Color = Color.Primary, Type = ButtonType.Link, To = "logout" }, "Log out"),
        };
        StateHasChanged();
    }

}